<h1>Media</h1>
<table>
    <thead>
        <tr>
            <th>Title</th>
            <th>Description</th>
            <th>Format</th>
        </tr>
    </thead>
    <tbody>
        <% @all_media.each do |medium| %>
            <tr>
                <td><%= image_tag medium.media_pictures.where(size: "medium").first.link%></td>
                <td> <%= link_to medium.media_titles.where(code: "romaji").first.title, medium %></td>
                <td> <%= strip_tags(medium.description) %> </td>
                <td> <%= medium.format %></td>
            </tr>
        <% end %>
    </tbody>
</table>
